/* .hello, .login{
  background-color: hsl(115, 100%, 50%);
  color: whitesmoke;
  padding: 0.8rem;  
  font-size:  2.5em;
}
.login{
    background-color: hsl(0, 100%, 50%);
} 

.inputs{
  display: flex;
  flex-direction: column;
}
.inputs > input{
  width: 120px;
  margin-bottom: 0.5rem;
}
*{
  font-family: monospace;
  
}
.cati{
  font-size: 2.5em;
  color: hsl(0, 0%, 10%);
  border: 1px solid;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  background-color: cadetblue;
  padding: 0.6em 1em;
}
.list li{
  font-size: 2em;
  color: rgb(49, 47, 47);
  text-align: center;
  list-style: none;
  padding: 0.5em 1em;
  transition: 0.3s;
}
.list li:hover{
  background-color: hsl(0, 1%, 29%);
  color: whitesmoke;
  cursor: pointer;
}
img{
  max-width: 300px;
  width: 70%;
}
button{

  width: 100px;
  height: 40%;
}

body{
  text-align: center;

  color: #000000;

} 
.num{
  font-size: 3rem;
}

.count{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box{
  width: 70px;
  height: 70px;
  border: 1px solid;
  transition: 0.25s;
}
.box > p{
  font-size: 0.8rem;
  color: #242424;
}


li >button{
  width: 20px;
  height: 20px;
  
}
ol > li{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 0 0.5rem 0 0.5rem;
  align-items: center;
  height: 30px;
  border: 1px solid;
  width: 200px;
  text-decoration: none;
}
ol{
  display: flex;
  flex-direction: column;
  
  
  width: 80%;
  gap: 1rem;
  

}
#input{
  width: 80%;
}

#input > button{
  width: 50px;
}

.app{
  width: 300px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;

} 
  */

/* body{
  background-image: url(/src/assets/bacimg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
}
.clock-container{
  backdrop-filter: blur(2px);
  padding: 10px 4px;
  width: 80vw;
}
.clock{
  font-size: 2rem;
  text-align: center;
  color: white;
  font-family: monospace;
  text-shadow: 4px 4px 5px hsla(0, 0%, 19%, 0.822);
  
} */

.box{
  border: 1px solid;
  padding: 1rem;
}